@{
    ViewBag.Title = "ActionComplete";
}

<h2>Process Completed!</h2>
<hr/>
<p>Results:</p>
<p class="fg-red">@ViewData["Error"]</p>
<br/>
<table data-role="table">
    <thead>
        <tr>
            <th>@ViewData["spCol"]</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewData["spRow"]</td>
        </tr>        
    </tbody>
</table>


