@{
    ViewBag.Title = "ActionComplete";
}

<h1>Process Completed!</h1>
<hr/>
<p class="fg-red">@ViewData["Error"]</p>
<br/>
<h3 class="fg-gray">Results:</h3>
<table class="table">
    <thead>
        <tr>
            <th class="fg-green">@ViewData["spCol"]</th>            
        </tr>
    </thead>
    <tbody class="fg-white bg-green">
        <tr>
            <td>@ViewData["spRow"]</td>
        </tr>        
    </tbody>
</table>
<br />

